body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.card {
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    height: 100vh;
    align-items: center;
    gap: 20px;
}

.controls {
    display: flex;
    gap: 20px;
}

.btn {
    cursor: pointer;
    padding: 10px 20px;
    border: 1px solid #885a06;
    outline: none;
    background-color: #a4a416;
    transition: background-color 0.5s;
    font-weight: bold;
    border-radius: 10px;
    color: #ffffff;
}

.btn:hover {
    background-color: #ecec0a;
}

hr {
    width: 100%;
}

.list-item {
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    gap: 30px;
    align-items: center;
}

.primary {
    color: red;
}

.bold {
    font-weight: bold;
}
